.git
.gitignore
.github/
__pycache__/
*.pyc
*.pyo
*.pyd
*.duckdb
*.db
*.wal
*.csv
*.xlsx
.venv
.venv/
venv
venv/
**/.venv
**/.venv/**
**/venv/**
.env
queries.json
pytest_cache/
.mypy_cache/
.ruff_cache/
tests/
requirements-dev.txt
frontend/node_modules/
